 .u-section-1 {
  background-image: linear-gradient(#292d33, #d9d9d9);
}

.u-section-1 .u-sheet-1 {
  min-height: 416px;
}

.u-section-1 .u-icon-1 {
  width: 132px;
  height: 132px;
  margin: 17px auto 0;
  padding: 0;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 92px;
  width: 602px;
  margin: 25px auto 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 48px auto 57px;
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    width: 340px;
  }
}